@import url(https://fonts.googleapis.com/css?family=Bevan);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

html, body {
	background: url("../images/main-background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;      /* Generic*/
}

h2, p, #bible-trivia, .choose, #question, #timer, #times-up, #game-result {
	text-align: center;
	color: #4169e1;
	margin: 20px;
	background: none;
	border-color: red;
	font-size: 50px;
	font-family: "Bevan";
	border-style: round;
}

.back {
	border-radius: 25px;
    background: #73AD21;
    padding: 20px;

}

.bible-title {
	float: center;

}
h1 {
  
  font-family: "Bevan";
  font-size: 100px;
  font-weight: 400;
  line-height: 80px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  width: 300px;
  margin: 40px auto 0;
  text-shadow: 
    0px 0px 0 rgb(-14,144,41),-1px 1px 0 rgb(-19,139,36),-2px 2px 0 rgb(-23,135,32),-3px 3px 0 rgb(-27,131,28),-4px 4px 0 rgb(-32,126,23),-5px 5px 0 rgb(-36,122,19),-6px 6px 0 rgb(-40,118,15),-7px 7px 0 rgb(-45,113,10),-8px 8px 0 rgb(-49,109,6),-9px 9px 0 rgb(-53,105,2),-10px 10px 0 rgb(-58,100,-3),-11px 11px 0 rgb(-62,96,-7),-12px 12px 0 rgb(-67,91,-12),-13px 13px 0 rgb(-71,87,-16),-14px 14px 0 rgb(-75,83,-20),-15px 15px 0 rgb(-80,78,-25),-16px 16px 0 rgb(-84,74,-29),-17px 17px 0 rgb(-88,70,-33),-18px 18px 0 rgb(-93,65,-38),-19px 19px 0 rgb(-97,61,-42), -20px 20px 0 rgb(-101,57,-46);   
}
h1 span { position: relative; }
h1 span:first-child { 
  z-index: 15;
}
h1 span:nth-child(2) { 
  z-index: 14;
  text-shadow:0px 0px 0 rgb(167,42,152),-1px 1px 0 rgb(162,37,147),-2px 2px 0 rgb(158,33,143),-3px 3px 0 rgb(154,29,139),-4px 4px 0 rgb(149,24,134),-5px 5px 0 rgb(145,20,130),-6px 6px 0 rgb(141,16,126),-7px 7px 0 rgb(136,11,121),-8px 8px 0 rgb(132,7,117),-9px 9px 0 rgb(128,3,113),-10px 10px 0 rgb(123,-2,108),-11px 11px 0 rgb(119,-6,104),-12px 12px 0 rgb(114,-11,99),-13px 13px 0 rgb(110,-15,95),-14px 14px 0 rgb(106,-19,91),-15px 15px 0 rgb(101,-24,86),-16px 16px 0 rgb(97,-28,82),-17px 17px 0 rgb(93,-32,78),-18px 18px 0 rgb(88,-37,73),-19px 19px 0 rgb(84,-41,69), -20px 20px 0 rgb(80,-45,65);
}
h1 span:nth-child(3) { 
  z-index: 19;
  text-shadow:0px 0px 0 rgb(42,142,167),-1px 1px 0 rgb(37,137,162),-2px 2px 0 rgb(33,133,158),-3px 3px 0 rgb(29,129,154),-4px 4px 0 rgb(24,124,149),-5px 5px 0 rgb(20,120,145),-6px 6px 0 rgb(16,116,141),-7px 7px 0 rgb(11,111,136),-8px 8px 0 rgb(7,107,132),-9px 9px 0 rgb(3,103,128),-10px 10px 0 rgb(-2,98,123),-11px 11px 0 rgb(-6,94,119),-12px 12px 0 rgb(-11,89,114),-13px 13px 0 rgb(-15,85,110),-14px 14px 0 rgb(-19,81,106),-15px 15px 0 rgb(-24,76,101),-16px 16px 0 rgb(-28,72,97),-17px 17px 0 rgb(-32,68,93),-18px 18px 0 rgb(-37,63,88),-19px 19px 0 rgb(-41,59,84), -20px 20px 0 rgb(-45,55,80);
}
h1 span:nth-child(4) { 
  z-index: 18;
  text-shadow:0px 0px 0 rgb(221,-5,59),-1px 1px 0 rgb(216,-10,54),-2px 2px 0 rgb(212,-14,50),-3px 3px 0 rgb(208,-18,46),-4px 4px 0 rgb(203,-23,41),-5px 5px 0 rgb(199,-27,37),-6px 6px 0 rgb(195,-31,33),-7px 7px 0 rgb(190,-36,28),-8px 8px 0 rgb(186,-40,24),-9px 9px 0 rgb(182,-44,20),-10px 10px 0 rgb(177,-49,15),-11px 11px 0 rgb(173,-53,11),-12px 12px 0 rgb(168,-58,6),-13px 13px 0 rgb(164,-62,2),-14px 14px 0 rgb(160,-66,-2),-15px 15px 0 rgb(155,-71,-7),-16px 16px 0 rgb(151,-75,-11),-17px 17px 0 rgb(147,-79,-15),-18px 18px 0 rgb(142,-84,-20),-19px 19px 0 rgb(138,-88,-24), -20px 20px 0 rgb(134,-92,-28);
}
h1 span:nth-child(5) { 
  z-index: 15;
}
h1 span:nth-child(6) { 
  z-index: 14;
  text-shadow:0px 0px 0 rgb(167,42,152),-1px 1px 0 rgb(162,37,147),-2px 2px 0 rgb(158,33,143),-3px 3px 0 rgb(154,29,139),-4px 4px 0 rgb(149,24,134),-5px 5px 0 rgb(145,20,130),-6px 6px 0 rgb(141,16,126),-7px 7px 0 rgb(136,11,121),-8px 8px 0 rgb(132,7,117),-9px 9px 0 rgb(128,3,113),-10px 10px 0 rgb(123,-2,108),-11px 11px 0 rgb(119,-6,104),-12px 12px 0 rgb(114,-11,99),-13px 13px 0 rgb(110,-15,95),-14px 14px 0 rgb(106,-19,91),-15px 15px 0 rgb(101,-24,86),-16px 16px 0 rgb(97,-28,82),-17px 17px 0 rgb(93,-32,78),-18px 18px 0 rgb(88,-37,73),-19px 19px 0 rgb(84,-41,69), -20px 20px 0 rgb(80,-45,65);
}

.cursor,
.cursor::before {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/ok_1.svg) no-repeat center center;
  position: absolute;
  width: 44px;
  height: 44px;
}

.cursor {
  background-position: 0px -31px;
  top: 0.1em;
  left: 15em;
  will-change: transform;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 550ms ease;
  transition: -webkit-transform 550ms ease;
  transition: transform 550ms ease;
  transition: transform 550ms ease, -webkit-transform 550ms ease;
}
.cursor::before {
  background-position: -43px -30px;
  content: "";
  top: -0.3em;
  left: 0.3em;
  will-change: transform;
  -webkit-transform: translateX(0px) translateZ(0px);
          transform: translateX(0px) translateZ(0px);
  -webkit-transition: -webkit-transform 550ms ease;
  transition: -webkit-transform 550ms ease;
  transition: transform 550ms ease;
  transition: transform 550ms ease, -webkit-transform 550ms ease;
}

.ok-btn {
  background: #1AAF5D;
  border-radius: 0.7em;
  box-shadow: 0 5px 0 #0A7237;
  color: #fff;
  font-size: 2em;
  font-weight: 500;
  text-shadow: 0 2px 0 #0A7237;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 60%;
  width: 300px;
  height: 70px;
  margin-left: -74px;
  margin-top: -35px;
  will-change: transform;
  -webkit-transform: translateY(0px) translateZ(0px);
          transform: translateY(0px) translateZ(0px);
  line-height: 70px;
  -webkit-transition: all 550ms ease;
  transition: all 550ms ease;
}

.circle:hover > .mask-b > .ok-btn {
  background: #179951;
  box-shadow: 0 0 0 1px #064320, inset 0 1px 0 0 #0A7237;
  -webkit-transform: translateY(5px) translateZ(0px);
          transform: translateY(5px) translateZ(0px);
  -webkit-transition: all 450ms 100ms cubic-bezier(0.68, -0.55, 0.265, 1.65);
  transition: all 450ms 100ms cubic-bezier(0.68, -0.55, 0.265, 1.65);
}
.circle:hover > .mask-b > .cursor {
  -webkit-transform: translate3d(-0.3em, 0.5em, 0);
          transform: translate3d(-0.3em, 0.5em, 0);
  -webkit-transition: -webkit-transform 450ms cubic-bezier(0.68, -0.55, 0.265, 1.65);
  transition: -webkit-transform 450ms cubic-bezier(0.68, -0.55, 0.265, 1.65);
  transition: transform 450ms cubic-bezier(0.68, -0.55, 0.265, 1.65);
  transition: transform 450ms cubic-bezier(0.68, -0.55, 0.265, 1.65), -webkit-transform 450ms cubic-bezier(0.68, -0.55, 0.265, 1.65);
}
.circle:hover > .mask-b > .cursor::before {
  -webkit-transform: translateX(-4px) translateZ(0px);
          transform: translateX(-4px) translateZ(0px);
  -webkit-transition: -webkit-transform 450ms cubic-bezier(0.68, -0.55, 0.265, 1.65);
  transition: -webkit-transform 450ms cubic-bezier(0.68, -0.55, 0.265, 1.65);
  transition: transform 450ms cubic-bezier(0.68, -0.55, 0.265, 1.65);
  transition: transform 450ms cubic-bezier(0.68, -0.55, 0.265, 1.65), -webkit-transform 450ms cubic-bezier(0.68, -0.55, 0.265, 1.65);
}

.mask-b {
	position: absolute;
	top: 60%;
	left: 45%;


}
